@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

%flex { 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

@mixin dimensions($width: null, $height: null) { 
  width: $width; 
  min-height: $height; 
  border: 1px solid black;
}

$maincolor: #da7777;
    html{height: 100%;}

    body{
      @extend %flex;
      font-family: 'Roboto', sans-serif;
      width: 100%;
      min-height: 100%;
      box-sizing: border-box;
    }

.content{
  position: relative; 
}

.card{  
 @include dimensions( 500px,  100px);
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}



.outline{
  @extend %flex;
  flex-direction: row;  
  position: relative;
  
  img{ 
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  .name{
    padding: 0px 20px;
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $maincolor;
        font-style: italic;
    }
    p.info{
      padding: 10px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}
